@import "common/foundation/variables";

$bar-height: 49px;

$bar-height-10: $bar-height + 10;

html {
  #topic-progress-wrapper:not(.docked) {
    bottom: $bar-height;
  }

  #topic-progress-wrapper.docked {
    margin-bottom: $bar-height-10 * -1;
  }

  #main-outlet {
    margin-bottom: $bar-height-10;
  }

  #reply-control.draft {
    margin-bottom: env(safe-area-inset-bottom);
    padding-bottom: 0px;
    transition: all 0.1s ease-out;
    bottom: $bar-height;
  }

  .posts-filtered-notice {
    transition: all 0.1s ease-out;
    bottom: $bar-height;
  }
}

body.tab-bar-hidden {
  .d-tab-bar {
    bottom: $bar-height * -1;
    transition: all 0.2s ease-in;
  }

  #topic-progress-wrapper:not(.docked) {
    bottom: 0;
    transition: all 0.2s ease-in;
  }

  #reply-control.draft {
    margin-bottom: env(safe-area-inset-bottom);
    bottom: 0;
    padding-bottom: 0px;
    transition: all 0.2s ease-in;
  }

  .posts-filtered-notice {
    transition: all 0.2s ease-in;
    bottom: 0;
  }
}

.d-tab-bar {
  background-color: var(--header_background);
  transition: all 0.1s ease-out;
  width: 100%;
  height: $bar-height;
  position: fixed;
  bottom: 0;
  z-index: z("dropdown") - 1;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.25);
  padding-bottom: env(
                  safe-area-inset-bottom
  ); // for devices with a notch (iPhone X*)

  .tab {
    color: var(--primary-very-high);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;

    &--disabled {
      color: var(--primary-low-mid);
    }

    &.active {
      color: var(--tertiary);
    }

    p.title {
      margin: 0;
      font-size: 0.7em;
    }

    .fa {
      font-size: #{$icons-size}em;
    }
  }
}

body:not(.footer-nav-ipad) .footer-nav {
  display: none;
}

// from base-mobile.scss' .header-dropdown-toggle.chat-header-icon
.tab.tab-chat {
  .icon {
    .chat-channel-unread-indicator {
      border-color: var(--primary-very-low);
    }
  }
}
.has-full-page-chat {
  .d-tab-bar {
    display: none;
  }
}


// from chat-unread-indicator mixin
@mixin chat-unread-indicator {
  @include unselectable;
  width: 14px;
  height: 14px;
  border-radius: 1em;
  box-sizing: content-box;
  -webkit-touch-callout: none;
  background: var(--tertiary-med-or-tertiary);
  color: var(--secondary);
  font-size: var(--font-down-2);
  text-align: center;
  transition: border-color linear 0.15s;

  &.-urgent {
    background: var(--success);
    color: var(--secondary);
  }

  &__number {
    color: var(--secondary);
    line-height: var(--line-height-small);
  }
}

// from base-common.scss' .header-dropdown-toggle.chat-header-icon
.tab.tab-chat {
  .icon {
    position: relative;

    .chat-channel-unread-indicator {
      @include chat-unread-indicator;
      border: 2px solid var(--header_background);
      position: absolute;
      top: 0;
      right: 2px;

      &.-urgent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 1em;
        min-width: 0.6em;
        padding: 0.21em 0.42em;
        top: -0.25rem;
        right: -1.25rem;
      }
    }
  }
}
