// from chat-unread-indicator mixin
@mixin chat-unread-indicator {
  @include unselectable;
  width: 14px;
  height: 14px;
  border-radius: 1em;
  box-sizing: content-box;
  -webkit-touch-callout: none;
  background: var(--tertiary-med-or-tertiary);
  color: var(--secondary);
  font-size: var(--font-down-2);
  text-align: center;
  transition: border-color linear 0.15s;

  &.-urgent {
    background: var(--success);
    color: var(--secondary);
  }

  &__number {
    color: var(--secondary);
    line-height: var(--line-height-small);
  }
}

// from base-common.scss' .header-dropdown-toggle.chat-header-icon
.tab.tab-chat {
  .icon {
    position: relative;

    .chat-channel-unread-indicator {
      @include chat-unread-indicator;
      border: 2px solid var(--header_background);
      position: absolute;
      top: 0;
      right: 2px;

      &.-urgent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 1em;
        min-width: 0.6em;
        padding: 0.21em 0.42em;
        top: -0.25rem;
        right: -1.25rem;
      }
    }
  }

  span.icon {
    cursor: auto;

    &:hover {
      .d-icon {
        color: var(--header_primary-low-mid);
      }

      background: none;
    }
  }

  a.icon {
    &.active {
      .d-icon-comment {
        color: var(--primary-medium);
      }
    }

    &:hover {
      .chat-channel-unread-indicator {
        border-color: var(--primary-low);
      }
    }
  }
}
